extends layout

block content
  h1= title

  form(id='motelForm', action="/resource/motels", method="POST")
    div.form-group
        label.motelAttr(for='motel_type') motel type
        input#motel_type(type='text', name='motel_type')
    div.form-group
        label.motelAttr(for='Duration') motel Duration 
        input#Duration(type='number', name='Duration')
    div.form-group
        label.motelAttr(for='Cost') motel Cost 
        input#Cost(type='number', name='Cost')
    input(type="submit")

  script.
    document.forms['motelForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });