extends layout 
block content
	h1= title
	- let motel = results;
		div(class='container-fluid')
			div(class='row')
				each m, index in motel 
					div(class="col-sm-2")  #{m.motel_type}  #{m.Duration}  #{m.Cost}              